body {
    background-color:#EAF6F6;
  }
  .navbar {
background-color: #77BFBF;
position: fixed;
bottom: 0;
width: 50%;
}
.navbar:hover{
  height: 10%;
  left: 25%;
  transition: 10s;
}
.name{
  text-align: center;
  font-family: fantasy;
  height: 15px;
}
.link{
  display: flex;
  justify-content: space-between;
}
  h1{
    font-family: Georgia, serif;
    color: Black;
    text-align: center;
  }
  h3{
    font-family: serif;
    color: #66BFBF;
  }
hr {

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 30%;
  }
