.hobbies{
  margin-bottom: 50px;
}
@media (min-width : 500px) {
  .photo{
    width:200px;
    height:200px;
  }
}
@media (min-width:400px) and (max-width:500px){
  .photo{
    width:150px;
    height:150px;
  }
}
@media (max-width:400px) {
  .photo{
    width:100px;
    height:100px;
  }
}
